.about-me {
   display: flex;
   // align-items: center;
   &__img {
      width: 50%;
      img {
         max-height: 698px;
         width: 100%;
         object-fit: cover;
      }
   }

   &__title {
      width: 16.6666%;
      padding-top: 224px;
      background-color: #fff;
      color: #000;
      text-align: center;
      font-family: Doloman Pavljenko;
      font-size: 120px;
      font-style: normal;
      font-weight: 300;
      line-height: 100px;  
   }

   &__text {
      width: 33.3333%;
      padding: 294px 3.58% 0;
      background-color: #fff;
      color: #000;
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}
