.about-me {
   display: flex;
   min-height: 607px;

   &__img {
      width: 50%;
      border-right: 1px solid #25382E;
      position: relative;
      img {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }

   &__content {
      width: 50%;
      background-color: #fff;
      display: flex;
      // align-items: center;
   }

   &__title {
      width: 33.333%;
      border-right: 1px solid #25382E;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      text-align: center;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
   }

   &__text {
      width: 66.666%;
      margin: 50px 7% 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #000;
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}
