.approach {

   display: flex;
   background-color: #fff;

   &__content {
      width: 66.66%;
   }

   &__title {
      margin-top: 70px;
      margin-bottom: 70px;
      text-align: center;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   &__text {

      margin: 25px 11.82%;
      color: #000;
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:last-child {
         margin-bottom: 75px;
      }
   }

   &__img {
      width: 33.43%;
      background-image: url(/img/img-water.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(60%) hue-rotate(0.96turn);
   }
}

@media (max-width: 1050px) {
   .approach__title {
      margin-top: 60px;
      margin-bottom: 50px;
   }

   .approach__text {
      font-size: 18px;
   }
}

@media (max-width: 850px) {
   .approach {
      flex-direction: column-reverse;
   }

   .approach__content {
      width: 100%;
   }

   .approach__title {
      margin-top: 0;
      margin-bottom: 45px;
      font-size: 50px;
   }

   .approach__text {
      width: 100%;
      margin: 0 0 30px;
      padding: 0 23px;
      font-size: 18px;
      &:last-child {
         margin-bottom: 45px;
      }
   }

   .approach__img {
      display: none;
      // min-height: 400px;
      // width: calc(100% - 30px);
      // margin: 15px auto 0;
      // background-position: 50% 10%;
   }
}
