.approach {
   
   background-color: #fff;
   border-top: 1px solid #25382E;
   display: flex;

   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26.893%;
      margin: 3.22% 3.22%;
      background-color: #25382E;
      background-image: url(/img/greetings-background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      color: #FFF;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   &__content {
      width: 66.666%;
      border-left: 1px solid #25382E;
      padding: 10px;
   }

   &__name {
      margin-top: 90px;
      text-align: center;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      span {
         display: block;
         text-align: center;
         font-family: Gilroy;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
      }
   }

   &__descr-list {
      margin: 60px 6.7% 90px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 3.9%;
      row-gap: 30px;
      list-style: disc;
     }

   &__item {
      margin-left: 27px;
      font-family: Gilroy;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}

@media (max-width: 1050px) {

   .approach__title {
      font-size: 50px;
   }

   .approach__name {
      font-size: 50px;
      margin-top: 70px;
   }

   .approach__descr-list {
      margin: 50px 2.5% 70px;
      row-gap: 35px;
   }

   .approach__item {
      font-size: 24px;
      line-height: 22px;
      margin-left: 20px;
   }
}

@media (max-width: 850px) {
   .approach {
      flex-direction: column;

      &__title {
         width: 93.56%;
         padding: 8% 0;
      }

      &__content {
         width: 100%;
         border: none;
      }

      &__name {
         margin-top: 50px;
      }
   }
}

@media (max-width: 550px) {
   .approach__descr-list {
      gap: 25px;
      grid-template-columns: 1fr;
      margin-bottom: 50px;
   }
}