.case {

   display: flex;
   background-color: #fff;
   border-top: 1px solid #25382E;

   &__content {
      width: 66.66%;
      border-right: 1px solid #25382E;
   }

   &__title {
      margin-top: 65px;
      margin-bottom: 80px;
      text-align: center;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   &__text {

      width: 77%;
      margin: 0 auto 25px;
      color: #000;
      font-family: Gilroy;
      font-size: 24px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      &:last-child {
         margin: 0 auto 80px;
      }
   }

   &__img {
      width: 33.43%;
      background-image: url(/img/img-water.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      filter: grayscale(60%) hue-rotate(0.96turn);
   }
}

@media (max-width: 1050px) {
   .case__title {
      margin-top: 90px;
      margin-bottom: 80px;
   }

   .case__text {
      margin: 0 auto 70px;
   }
}

@media (max-width: 850px) {
   .case {
      flex-direction: column-reverse;
   }

   .case__content {
      width: 100%;
      border: none;
   }

   .case__title {
      margin-top: 30px;
      margin-bottom: 45px;
      font-size: 50px;
   }

   .case__text {
      width: 100%;
      margin: 0 0 30px;
      padding: 0 23px;
      font-size: 18px;
      &:last-child {
         margin-bottom: 45px;
      }
   }

   .case__img {
      min-height: 400px;
      width: calc(100% - 30px);
      margin: 15px auto 0;
      background-position: 50% 10%;
   }
}
