.details {

   background-color: #fff;
   display: flex;
   border-top: 1px solid #25382E;

   &__content {
      width: 66.66%;
      border-right: 1px solid #25382E;
   }

   &__title {
      margin-top: 65px;
      margin-bottom: 80px;
      text-align: center;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   &__text {
      margin: 30px auto;
      &:last-child {
         margin-bottom: 80px;
      }
      width: 55%;
      p {
         &:first-child {
            font-size: 24px;
            font-weight: 700;
         }
         font-family: Gilroy;
         font-size: 24px;
         font-style: normal;
         font-weight: 400;
         line-height: normal;
         
      }
   }

   &__button {
      margin-top: 70px;
   }

   &__img {
      width: 33.43%;
      background-image: url(/img/img-stock.jpg);
      background-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
   }
}

@media (max-width: 850px) {
   .details {
      flex-direction: column-reverse;

      &__content {
         width: 100%;
         border: none;
      }

      &__title {
         margin-top: 45px;
         margin-bottom: 45px;
         font-size: 50px;
      }

      &__img {
         min-height: 400px;
         width: calc(100% - 30px);
         margin: 15px auto 0;
         background-position: 50% 10%;
      }

      &__text {
         width: calc(100% - 46px);
         p {
            font-size: 20px;
            &:first-child {
               font-size: 20px;
            }
         }
      }
   }
}
