.footer{
   margin-top: 45px;
   margin-bottom: 45px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 30px;
   border: 1px solid #FFF;
   padding: 15px 23px;

   &__item {
      color: #FFF;
      font-family: Doloman Pavljenko;
      font-size: 20px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      text-transform: uppercase;
   }

   &__img {
      height: 27px;
   }
}

@media (max-width: 850px) {

   .footer {
      margin: 30px 0 30px;
   }
   .footer__item {
      font-size: 18px;
   }
}