.work-with {
   display: flex;
   background-color: #fff;

   &__title {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 26.893%;
      margin: 45px;
      margin-top: 0;
      background-color: #25382e;
      background-image: url(/img/greetings-background.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 0 0;
      color: #fff;
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
   }

   &__content {
      width: 66.6666%;
   }
   &__subtitle {
      font-family: Doloman Pavljenko;
      font-size: 60px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      margin-bottom: 30px;
   }
   &__text {
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-bottom: 45px;
   }

   &__list {
      margin-top: 15px;
      margin-right: 45px;
      text-transform: lowercase;
      padding-bottom: 70px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      gap: 45px 90px;
      align-items: stretch;
   }

   &__item {
      height: 40px;
      border-bottom: #25382e 3px solid;
      font-family: Gilroy;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
   }
}

@media (max-width: 1150px) {
   .work-with__list {
      padding: 70px 4% 70px;
      gap: 25px;
      row-gap: 45px;
   }

   .work-with__title {
      font-size: 50px;
   }

   .work-with__item {
      font-size: 18px;
      line-height: 22px;
   }

   .work-with__text {
      margin-bottom: 45px;
      font-size: 18px;
   }
}

@media (max-width: 850px) {
   .work-with {
      flex-direction: column;

      &__title {
         width: calc(100% - 30px);
         padding: 45px 0 52px;
      }

      &__content {
         width: 100%;
      }

      &__list {
         padding: 30px 23px 45px;
         gap: 25px;
      }

      &__item {
         margin-left: 17px;
         font-size: 18px;
      }

      &__text {
         font-size: 18px;
         font-weight: 400;
         text-align: left;
         margin-left: 25px;
         span {
            width: 100%;
         }
      }
   }
}

@media (max-width: 550px) {
   .work-with__list {
      grid-template-columns: 1fr;
      padding-bottom: 50px;
   }
}
